
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'home' %}">
        <strong class="blue-text">K1001 Shop</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
              <a href="https://www.instagram.com/kilickitapkirtasiye/" class="nav-link waves-effect" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
          </li>
        </ul>

        <!-- Right -->
        {% if user.is_authenticated %}
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link waves-effect" href="{% url 'wallet' %}">
                <i class="fas fa-wallet"></i>
                <span class="clearfix d-none d-sm-inline-block"> ₺ {{ request.session.balance }} </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="{% url 'cart' %}">
                <span class="badge red z-depth-1 mr-1"> {{ request.session.items_total }} </span>
                <i class="fas fa-shopping-cart"></i>
                <span class="clearfix d-none d-sm-inline-block"> Cart </span>
              </a>
            </li>
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
                <a class="dropdown-item" href="{% url 'orders' %}"> Past Orders </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </li>
          </ul>
        {% else %}
          <form class="form-inline ml-auto">
            <a href="{% url 'login' %}" class="btn-sm btn-secondary">Log in</a>
            <a href="{% url 'signup' %}" class="btn-sm btn-primary ml-2">Sign up</a>
          </form>
        {% endif %}
      </div>

    </div>
  </nav>