{% extends 'base.html' %}

<title>Add a Shipping Address</title>

{% block content %}
{% include 'includes/navbar.html' %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <ul class="mr-auto">
            <form method="post" id="addressForm" novalidate data-subregions-url="{% url 'ajax_load_subregions' %}">
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </ul>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      $("#id_region").change(function () {
          const url = $("#addressForm").attr("data-subregions-url");  // get the url of the `load_cities` view
          const regionId = $(this).val();  // get the selected country ID from the HTML input

          $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
              data: {
                  'region_id': regionId       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                  $("#id_subregion").html(data);  // replace the contents of the city input with the data that came from the server
                  /*

                  let html_data = '<option value="">---------</option>';
                  data.forEach(function (city) {
                      html_data += `<option value="${city.id}">${city.name}</option>`
                  });
                  console.log(html_data);
                  $("#id_city").html(html_data);

                  */
              }
          });

      });
  </script>
{% endblock %}