{% extends 'base.html' %}

<title>Add a Shipping Address</title>

{% block content %}
{% include 'includes/navbar.html' %}
<body class="grey lighten-3">
    <div class="card w-50 mx-auto">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 w-25 mx-auto">
                    <h4>Add a New Address</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 w-25">
                    <form method="post" id="addressForm" novalidate data-subregions-url="{% url 'ajax_load_subregions' %}">
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-success">Add</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</body>

  <script>
      $("#id_region").change(function () {
          const url = $("#addressForm").attr("data-subregions-url");  // get the url of the `load_cities` view
          const regionId = $(this).val();  // get the selected country ID from the HTML input

          $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
              data: {
                  'region_id': regionId       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                  $("#id_subregion").html(data);  // replace the contents of the city input with the data that came from the server
                  /*

                  let html_data = '<option value="">---------</option>';
                  data.forEach(function (city) {
                      html_data += `<option value="${city.id}">${city.name}</option>`
                  });
                  console.log(html_data);
                  $("#id_city").html(html_data);

                  */
              }
          });

      });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function()
    {
        $('#id_region').select2({
        });
        $('#id_subregion').select2({
        });
    });
  </script>
{% endblock %}