{% extends 'base.html' %}

<title>Change Settings</title>

{% block content %}
{% include 'includes/navbar.html' %}

<body class="grey lighten-3">
    <div class="card w-50 mx-auto">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 w-25 mx-auto">
                    <h4>Change Your Settings</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 w-25">
                    <form method="post" novalidate>
                      {% csrf_token %}
                      {% include 'includes/form.html' %}
                      <button type="submit" class="btn btn-success">Save changes</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</body>
 
{% endblock %}