{% extends 'base.html' %}

<title>Contact Us</title>

{% block content %}
{% include 'includes/navbar.html' %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h3> Phone </h3>
      <p> (0312) 368 77 40 </p>
      <h3> Address </h3>
      <p>
      Hüseyingazi mahallesi Mamak Caddesi </br>
      No: 171/B </br>
      06260 Mamak/Ankara
      </p>
      <h3> Working Hours </h3>
      <p>
      Mon:	08:00–20:00 </br>
      Tue:	08:00–20:00 </br>
      Wed:	08:00–20:00 </br>
      Thr:	08:00–20:00 </br>
      Fri:	08:00–20:00 </br>
      Sat:	08:00–20:00 </br>
      Paz:	08:00–20:00
      </p>
    </div>
  </div>
{% endblock %}