{% extends 'base.html' %}

<title>Refund</title>

{% block content %}
{% include 'includes/navbar.html' %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <ul class="mr-auto">
            <form method="post" id="refundForm" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </ul>
    </div>
  </div>

		<script>ClassicEditor
				.create( document.querySelector( '#id_reason' ), {
					
				toolbar: {
					items: [
						'heading',
						'|',
						'bold',
						'italic',
						'link',
						'bulletedList',
						'numberedList',
						'|',
						'outdent',
						'indent',
						'|',
						'imageUpload',
						'blockQuote',
						'insertTable',
						'undo',
						'redo'
					]
				},
				language: 'en',
				image: {
					toolbar: [
						'imageTextAlternative',
						'imageStyle:inline',
						'imageStyle:block',
						'imageStyle:side'
					]
				},
				table: {
					contentToolbar: [
						'tableColumn',
						'tableRow',
						'mergeTableCells'
					]
				},
					licenseKey: '',
					
					
					
				} )
				.then( editor => {
					window.editor = editor;
			
					
					
					
				} )
				.catch( error => {
					console.error( 'Oops, something went wrong!' );
					console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
					console.warn( 'Build id: 24wli16rgyf0-unt8fr6ckh47' );
					console.error( error );
				} );
		</script>
{% endblock content %}

