{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}

<body class="grey lighten-3">

<!--Card-->


          <div class="card w-25 mx-auto">

            <!--Card content-->
            <form method="POST" class="needs-validation card-body" novalidate>
              {% csrf_token %}
              <!--Grid row-->
            
              <h5> Your Current Balance: ₺ {{ wallet.balance }} </h5>
              {% include 'includes/form.html' %}

              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-newcard-tab" data-toggle="tab" href="#nav-newcard" role="tab" aria-controls="nav-newcard">New Card</a>
                  <a class="nav-item nav-link" id="nav-cards-tab" data-toggle="tab" href="#nav-cards" role="tab" aria-controls="nav-cards">Saved Cards</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-newcard" role="tabpanel" aria-labelledby="nav-newcard-tab">
                  <div class="card-wrapper mt-5"></div>

                  <div class="form-container active">
                      <input placeholder="Card number" type="tel" name="number" class="mt-3 form-control unknown jp-card-invalid">
                      <input placeholder="Name on card" type="text" name="name" class="mt-2 form-control jp-card-valid">
                      <input placeholder="MM/YY" type="tel" name="expiry" class="mt-2 form-control">
                      <input placeholder="CVC" type="number" name="cvc" class="mt-2 form-control">
                  </div>

                
                  <div class="custom-control custom-checkbox mt-2">
                    <input type="checkbox" class="custom-control-input" id="save-info" name="save">
                    <label class="custom-control-label" for="save-info">Save this Card</label>
                  </div>
                  <hr class="mb-4">
                  <button class="btn btn-primary btn-lg btn-block" name="newcard" type="submit">Add Balance</button>

                </div>
                <div class="tab-pane fade" id="nav-cards" role="tabpanel" aria-labelledby="nav-cards-tab">
                {% if cards %}
                    <div class="frb-group">
                
                      {% for card in cards %}
                      <div class="frb frb-primary">
                        <input type="radio" id="radio-button-{{card.pk}}" name="radio-button" value="{{card.pk}}">
                        <label for="radio-button-{{card.pk}}">
                          <span class="frb-title">**** **** **** {{ card.number|slice:"15:21" }}</span>
                          <i class="float-right far fa-credit-card fa-3x mr-3 mt-2"></i>
                          </br>
                          <span class="frb-description"> Expiry Date: {{ card.expiry }}</span>
                        </label>
                      </div>
                      {% endfor %}
                      
                      
                    </div>
                  <button class="btn btn-secondary" name="deletecard" type="submit">Delete Selected Card</button>

                  <hr class="mb-4">
                  <button class="btn btn-primary btn-lg btn-block" name="savedcard" type="submit">Add Balance</button>
                {% else %}
                <div> You do not have any saved cards. Please try other options. </div>
                {% endif %}                  

                </div>
                
              </div>

              
			<!-- CHECKBOX BUTTON BLOCK -->



            </form>

          </div>
          <!--/.Card-->
    </div>
</body>


<script type="text/javascript">
  // jQuery
  $('form').card({
    container: '.card-wrapper'
  });

  // Vanilla JavaScript
  new Card({
    form: document.querySelector('form'),
    container: '.card-wrapper'
  });
</script>

{% endblock %}



